development {
  host = "localhost"
  port = 8080
  jdbc {
    driver = "org.postgresql.Driver"
    url = "jdbc:postgresql://localhost:5432/fuzzy"
    user = ""
    pass = ""
    migrations = "filesystem:src/main/resources/migrations"
  }
}

production {
  host = "0.0.0.0"
  port = 80
  jdbc {
    driver = "org.postgresql.Driver"
    url = "jdbc:postgresql://localhost:5432/fuzzy"
    user = ""
    pass = ""
    migrations = "migrations"
  }
}

test {
  host = "localhost"
  port = 8080
  jdbc {
    driver = "org.postgresql.Driver"
    url = "jdbc:postgresql://localhost:5432/fuzzy_test"
    user = ""
    pass = ""
    migrations = "filesystem:src/main/resources/migrations"
  }
}
